/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'blastmegan'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Reimplementation of the BLAST+MEGAN based workflow described in Slon et al. 2017'
    nextflowVersion  = '>=22.10'
    version          = 'v0'
}

cleanup = true
nextflow.enable.moduleBinaries = true

params{
    threads = 1
    // file input 
    split = false // a folder with bam files
    database = false // a fasta file

    // parameters for tools
    rma_sup = 3
    rma_supp = 0.1
    rma_ms = 35

    num_min_dup = 2

    rm_dup_query_len =  35
}

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    debug {
        cleanup                = false
    }
}