/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'blastmegan'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Reimplementation of the BLAST+MEGAN based workflow described in Slon et al. 2017'
    nextflowVersion  = '>=22.10'
    version          = 'v0'
}

cleanup = true
nextflow.enable.moduleBinaries = true

params{
    threads = 1
    // file input 
    split = false // a folder with bam files
    database = false // a fasta file
    acc2taxid = false
    genomes = false // the folder with reference genomes
    doublestranded = false

    // parameters for tools
    // - freds pseudouniqs
    pseudouniq_filterflag = 5
    pseudouniq_minlen =  35
    pseudouniq_mindup = 2

    // - blast2rma
    rma_sup = 3
    rma_supp = 0.1
    rma_ms = 35    

    //mapping
    mapbwa_quality_cutoff = 25

    //save deaminated reads?
    save_deaminated = false
}

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    debug {
        cleanup                = false
    }
}

includeConfig "conf/process.config"