process {
    withName: "FRED_PSEUDOUNIQ" {
        publishDir = [
            path:"pseudouniq",
            mode:"copy",
        ]
        ext.args = "${params.pseudouniq_filterflag} ${params.pseudouniq_minlen} ${params.pseudouniq_mindup}"
    }

    withName: "BLAST2RMA" {
        publishDir = [
            path:"blast",
            mode:"copy",
            pattern:"*.rma6"
        ]
        ext.args = "-ms ${params.rma_ms} -sup ${params.rma_sup}" //-supp ${params.rma_supp}
    }

    withName: "MEGAN_RMA2INFO" {
        publishDir = [
            path:"out/blast",
            mode:"copy",
            pattern:"*.tsv"
        ]
    }

    withName: "SAMTOOLS_FQ2BAM" {
        publishDir = [
            path:"out/blast",
            mode:'copy',
            pattern:"*.bam",
            saveAs: { "${meta.family}/${meta.sample}_extractedReads-${meta.family}.bam" }
        ]
    }

    withName: "MAP_BWA" {
        publishDir = [
            path: { "out/blast/${meta.family}/aligned" },
            mode:'copy',
            pattern:"*.bam",
        ]
    }

    withName: "SAMTOOLS_FILTER" {
        ext.args = "-q ${params.mapbwa_quality_cutoff}"
    }

    withName: "BAM_RMDUP" {
        publishDir = [
            path: { "out/blast/${meta.family}/analyzed" },
            mode:'copy',
            pattern:"*.bam",
            saveAs: { "${meta.sample}.${meta.species}.uniq.L${params.pseudouniq_minlen}MQ${params.mapbwa_quality_cutoff}.bam" }
        ]
    }

    withName:"BAM_DEAM_STATS" {
        ext.args = "only_stats ${params.doublestranded ? 'doublestranded' : ''}"
    }
}