process {
    withName: "FRED_PSEUDOUNIQ" {
        publishDir = [
            path:"pseudouniq",
            mode:"copy",
        ]
        ext.args = "${params.pseudouniq_filterflag} ${params.pseudouniq_minlen} ${params.pseudouniq_mindup}"
    }

    withName: "BLAST2RMA" {
        publishDir = [
            path:"blast",
            mode:"copy",
            pattern:"*.rma6"
        ]
        ext.args = "-ms ${params.rma_ms} -supp ${params.rma_supp}" // blast2rma diesnt allow both sup and supp, so I stick with supp
    }
}